html {
    overflow-y: scroll;
}
body {
    padding-top: 70px;
}
main {
    .make-row();
}
main aside {
    .make-sm-column(4);
    .make-md-column(3);
}
main section {
    .make-sm-column(8);
    .make-md-column(9);
}
.dwbn-label {
    .make-xs-column(4);
}
.dwbn-content {
    .make-xs-column(8);
}
div.form-group {
    > label {
        .make-sm-column(3);
    }
    > .dwbn-form-control {
        .make-sm-column(9);
    }
    > .dwbn-form-control_lg {
        .make-sm-column(12);
    }
    > .dwbn-form-submit {
        .make-sm-column-offset(3);
        .make-sm-column(9);
    }
}
// bootstrap indent the labels to position radios/checkboxes as hanging controls.
// we have the label as seperate element and not the checkbox inside a label
.dwbn-form-control div.checkbox > input[type="checkbox"] {
  margin-left: 0;
}
noscript div {
    margin-top: -20px;
}
// hide element if javascript is not enabled 
html.no-js .no-js-hide {
    .hide();
}
// hidden honey pot field in the registration form
.dwbn-honeypot {
    .hide();
}
// filter row in the list view
.dwbn-filter-row {
    margin-bottom: 15px;
}
.dwbn-nav-tabs {
    margin-bottom: 20px;
}
// thumbnail in the global navigation bar
.dwbn-icon-user {
    margin-top: -10px;
    margin-bottom: -9px;
}
.dwbn-centered {
    .make-md-column-offset(1);
    .make-md-column(10);
    .make-lg-column-offset(2);
    .make-lg-column(8);
}
// same as alert-danger for fit with django message.tags
.alert-error {
  .alert-variant(@alert-danger-bg; @alert-danger-border; @alert-danger-text);
}