<!DOCTYPE html>{% load static i18n analytics %}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="OpenID Connect Identity Provider">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}" type="image/ico"/>
    <link rel="apple-touch-icon" href="{% static 'ico/apple-touch-icon.png' %}">
    {% block style %}{% if False %}
        <link rel="stylesheet/less" href="{% static stylesheet_less %}">
        <script>less = { env: 'development'};</script>
        <script src="{% static "js/vendor/less-3.9.0.min.js" %}"></script>
        <script>
          less.modifyVars({'@base-dir': '"../less"', '@icon-font-path': '"/static/fonts/"'});
          less.watch();
        </script>
    {% else %}
        <link rel="stylesheet" href="{% static stylesheet %}">{% endif %}
    {% endblock style %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    <script>window.__media_prefix__ = "{% filter escapejs %}{% static "" %}{% endfilter %}";</script>
    <script>(function (H) {H.className = H.className.replace(/\bno-js\b/, 'js')})(document.documentElement)</script>
    <script src="{% static "js/vendor/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap-3.4.1.min.js" %}"></script>
    <script src="{% static "js/plugins-1.0.10.js" %}"></script>
    {% block extrascript %}{% endblock extrascript %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/vendor/html5shiv-3.7.3.min.js" %}"></script>
      <script src="{% static "js/vendor/respond-1.4.2.min.js" %}"></script>
    <![endif]-->
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}
    <!--[if lt IE 8]><p class=alert alert-warning>Your browser is <em>ancient!</em> <a href="https://browsehappy.com/">Upgrade to a different browser</a> to experience this site.</p>
    <![endif]-->

    {% block navbar %}
        {% include 'include/global_navigation.html' %}
    {% endblock navbar %}

    <div class="{% block containerclass %}container{% endblock %}">
        {% block breadcrumb %}{% endblock %}

        {% block content %}
            <main>
                <aside>
                    {% block left_content %}
                        {% include 'include/_navigation.html' %}
                    {% endblock left_content %}
                </aside>
                <section>
                    {% block right_content %}<h2>{% trans 'Home' %}</h2>{% endblock %}
                </section>
            </main>
        {% endblock content %}

        <hr>
        {% block footer %}
            <footer>
                <ul>
                    <li><a href="{% url 'about' %}">{% trans 'About us' %}</a></li>
                    <li class="text-muted">·</li>
                    <li><a href="{% url 'privacy' %}">{% trans 'Privacy' %}</a></li>
                    <li class="text-muted">·</li>
                    <li><a href="{% url 'accounts:contact' %}">{% trans 'Feedback' %}</a></li>
                </ul>
            </footer>
        {% endblock footer %}

    </div> <!-- /container -->
{% endblock body %}
{% show_tracker %}
</body>
</html>
