{% load i18n %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% trans 'Forbidden' %} :(</title>
  <style>
    ::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
    ::selection { background: #fe57a1; color: #fff; text-shadow: none; }
    html { padding: 30px 10px; font-size: 20px; line-height: 1.4; color: #737373; background: #f0f0f0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    html, input { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    body { max-width: 500px; _width: 500px; padding: 30px 20px 50px; border: 1px solid #b3b3b3; border-radius: 4px; margin: 0 auto; box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff; background: #fcfcfc; }
    h1 { margin: 0 10px; font-size: 50px; text-align: center; }
    h1 span { color: #bbb; }
    h3 { margin: 1.5em 0 0.5em; }
    p { margin: 1em 0; }
    ul { padding: 0 0 0 40px; margin: 1em 0; }
    .container { max-width: 380px; _width: 380px; margin: 0 auto; }
  </style>
</head>
<body>
  <div class="container">
    <h1>{% trans 'Forbidden' %} <span>:(</span></h1>
	  <p>{{ main }}</p>
	{% if no_referer %}
	  <p>
    {% trans "You are seeing this message because this HTTPS site requires a 'Referer header' to be sent by your Web browser, but none was sent. This header is required for security reasons, to ensure that your browser is not being hijacked by third parties." %}
      </p>
      <p>
    {% trans "If you have configured your browser to disable 'Referer' headers, please re-enable them, at least for this site, or for HTTPS connections, or for 'same-origin' requests." %}
      </p>
	{% endif %}
	{% if no_cookie %}
      <p>
    {% trans "You are seeing this message because this site requires a CSRF cookie when submitting forms. This cookie is required for security reasons, to ensure that your browser is not being hijacked by third parties." %}
      </p>
      <p>
    {% trans "If you have configured your browser to disable cookies, please re-enable them, at least for this site, or for 'same-origin' requests." %}
      </p>
	{% endif %}  
	
    <p><a href="{{ request.path }}">{% trans "Try again" %}</a></p>
	  
  </div>
</body>
</html>