{% load form %}
<div class="form-group">
  <label class="control-label">{{ field.label }}</label> 
  <div class="dwbn-form-control">
       <p class="form-control-static">
       {{ field.form|selected_choice:field.name }}
  </div>
</div>
