{% extends "edit_inline/tabular.html" %}
{% load i18n %}

{% block formset_extra_rows %}
{% for primary_forward in formset.instance.primary_forward_set %}
<tr class="text-danger">
    <td colspan="3">          
        <p class="form-control-static">{{ primary_forward }} ({% trans 'Primary forwarding address' %})</p>
    </td>
</tr>
{% endfor %}
{% endblock %}

