<div class="row">
    <div class="col-xs-3">
        {% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
    </div>
    <div class="col-xs-5">
        {% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
    </div>
    <div class="col-xs-4">
        {% include widget.subwidgets.2.template_name with widget=widget.subwidgets.2 %}
    </div>
</div>
