{% extends "base_form.html" %}
{% load i18n static %}
{% load thumbnail %}

{% block title %}{% trans 'Change User' %}{% endblock %}

{% block extrascript %}
    {{ media }}
    <script src="{% static "js/formsets-1.2.js" %}"></script>
{% endblock extrascript %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'accounts:user_list' %}">{% trans 'User List' %}</a></li>
        <li class="active">{% trans 'Change User' %}</li>
    </ol>
{% endblock breadcrumb %}

{% block form %}
    <form class="form-horizontal" method="post" data-active="{{ active }}">{% csrf_token %}
        {# Include the hidden fields in the form #}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="">
            <h3>{{ title }} - {{ form.user.first_name }} {{ form.user.last_name }}</h3>

            {% if messages %}{% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
            {% endif %}

            {% if errors %}
                <div class="alert alert-danger">
                    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                        {% trans "Please correct the errors below." %}{% endif %}
                </div>
            {% endif %}
        </div>

        <ul class="nav nav-tabs dwbn-nav-tabs" id="myTab">
            <li class="{% if not active or active == "object" %}active{% endif %}">
                <a data-toggle="tab"
                   href="#object">{% trans 'Basis data' %}</a>
            </li>
            {% for formset in formsets %}
                <li class="{% if active == formset.prefix %}active{% endif %}">
                    <a data-toggle="tab"
                       href="#{{ formset.prefix }}">{{ formset.form.opts.verbose_name_plural|title }}</a>
                </li>
            {% endfor %}
            <li><a data-toggle="tab" href="#app_roles">{{ form.application_roles.label }}</a></li>
            <li><a data-toggle="tab" href="#notes">{{ form.notes.label }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane {% if not active or active == "object" %}active{% endif %}" id="object">
                {% block user-detail %}
                    {% if not form.user.is_active %}
                        {% include 'include/_static_field.html' with field=form.status extra_class="bg-danger" %}
                    {% endif %}
                    {% include 'include/_static_picture_field.html' with field=form.user.picture %}
                    {% include 'include/_field.html' with field=form.username %}
                    {% if is_validation_period_active %}
                        {% block user-detail-valid_until %}
                            {% include 'include/_static_field.html' with field=form.valid_until %}
                        {% endblock %}
                    {% endif %}
                    {% include 'include/_field.html' with field=form.first_name %}
                    {% include 'include/_field.html' with field=form.last_name %}
                    {% include 'include/_field.html' with field=form.gender %}
                    {% include 'include/_field.html' with field=form.dob %}
                    {% include 'include/_field.html' with field=form.organisations %}
                    {% if form.created_by_user.initial %}
                        {% include 'include/_user_field.html' with field=form.created_by_user %}
                    {% endif %}
                    {% if form.last_modified_by_user.initial %}
                        {% include 'include/_user_field.html' with field=form.last_modified_by_user %}
                    {% endif %}

                    {% include 'accounts/includes/_profiles_field.html' with field=form.role_profiles %}

                    {% if perms.registration.change_registrationprofile %}
                        {% with registrationprofile=form.user.registrationprofile %}
                            {% if registrationprofile %}
                                <div class="form-group">
                                    <label class="control-label"></label>

                                    <div class="dwbn-form-control">
                                        <a href="{% url 'registration:update_user_registration' registrationprofile.pk %}">{% trans 'Registration' %}</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endblock user-detail %}
            </div>
            <div class="tab-pane" id="app_roles">
                {% include 'accounts/includes/_app_roles_field.html' with field=form.application_roles %}
            </div>
            <div class="tab-pane" id="notes">
                {% include 'include/_usernote_field.html' with field=form.notes %}
            </div>
            {% for formset in formsets %}
                <div class="tab-pane {% if active == formset.prefix %}active{% endif %}" id="{{ formset.prefix }}">
                    {% include formset.form.template %}
                </div>
            {% endfor %}

        </div>
        <!-- /.tab-content -->

        <div class="form-group">
            <div class="dwbn-form-control_lg">
                <button type="submit" class="btn btn-default"
                        name="_continue">{% trans 'Save and continue editing' %}</button>
                <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                {% if form.user.is_active %}
                    <button type="submit" class="btn btn-default" name="_deactivate">{% trans 'Block User' %}</button>
                {% else %}
                    <button type="submit" class="btn btn-success" name="_activate">{% trans 'Activate User' %}</button>
                {% endif %}
                {% if perms.accounts.delete_user and not form.user.is_active %}
                    <a class="btn btn-default"
                       href="{% url 'accounts:delete_user' form.user.uuid.hex %}">{% trans 'Delete User' %}</a>
                {% endif %}
                {% if perms.accounts.add_user %}
                    <button type="submit" class="btn btn-default"
                            name="_addanother">{% trans 'Save and add another' %}</button>
                {% endif %}
                {% if not logged_in %}
                    <button type="submit" class="btn btn-default"
                            name="_resend_invitation">{% trans 'Save and resend Invitation Mail' %}</button>
                {% endif %}
                {% if form.user.organisations.all %}
                    <button type="submit" class="btn btn-danger" name="_remove_org" data-toggle="tooltip"
                            data-placement="top"
                            title="{% trans "After removing the user from your organisation, only the global admin has access to the user." %}">{% trans 'Remove from organisation' %}</button>
                {% endif %}
                {% if is_validation_period_active %}
                    {% block user-extend-validity-action %}
                        <button type="submit" class="btn btn-default"
                                name="_extend_validity">{% trans 'Save and extend validity' %}</button>
                    {% endblock user-extend-validity-action %}
                {% endif %}
            </div>
        </div>

    </form>
{% endblock %}
