{% extends 'base_list.html' %}
{% load i18n list tz static %}

{% block title %}{% trans 'Regions' %}{% endblock %}

{% block nav_organisations_region_list_class %}active{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Regions' %}</li>
</ol> 
{% endblock breadcrumb %}
    
    
{% block content %}
<div class="row">
	<div class="col-sm-12">
	    {% if messages %}{% for message in messages %}
	       <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
	    {% endif %}
	</div>
</div><!-- /.row -->

<div class="row dwbn-filter-row">
	<div class="col-sm-3">
       {% include 'include/_search_form.html' %}
    </div>
	
	<div class="col-sm-9">
        {% for filter in filters %}{% if filter %} 
        {% include filter.template_name with filter=filter %}
        {% endif %}{% endfor %}
    </div><!-- /.col-sm-9 -->
</div>

<main>
    <div class="col-sm-12 table-responsive">
	   <table class="table table-bordered table-striped">
	       {% include "include/table_header.html" %}
	       <tbody>
	           {% for object in object_list %}
	           <tr> 
	               <td><a href="{% url 'organisations:adminregion_detail' object.uuid.hex %}">{{ object.name }}</a></td>
	               <td>{{ object.email|default_if_none:"" }}</td>
	               <td>{% if object.homepage %}<a href="{{ object.homepage }}">{{ object.homepage }}</a>{% endif %}</td>
	               <td>{{ object.organisation_country.country.iso2_code }}</td>
	           </tr>
	           {% endfor %}
	       </tbody>
	   </table>
	   {% if is_paginated %}{% pagination page_obj cl %}{% endif %}
    </div>
</main>
{% endblock content %}
