{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans 'Add U2F Device' %}{% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'auth:profile' %}">{% trans 'Security' %}</a></li>
        <li class="active">{% trans 'U2F Device Setup' %}</li>
    </ol>
{% endblock breadcrumb %}


{% block left_content %}{% include 'include/_navigation.html' with active_navigation="auth_profile" %}{% endblock left_content %}


{% block extrascript %}
    {% include 'auth/include/u2f_jscript.html' %}
{% endblock extrascript %}


{% block right_content %}

    <form method="post" id="u2f_register_form">
        {% csrf_token %}

        <h3>{% trans 'Register U2F device' %}</h3>

        <div class="alert alert-info">
            {% blocktrans %}
            Please touch the flashing U2F device now.
            You may be prompted to allow the site permission to access your security keys. After granting permission, the device will start to blink.
            {% endblocktrans %}
        </div>

        <div class="alert alert-danger browser-not-supported">
            {% trans 'This Login method requires Chrome 41 or later! Your current browser is not yet supported.' %}
        </div>

        <div class="" id="u2f-status"></div>

        {% if form.errors %}
            <div class="alert alert-danger">
                {% for key, errors in form.errors.items %}
                    {% for error in errors %}{{ error }}<br>{% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group {% if field.errors %}has-error{% endif %} {% if field.is_hidden %}dwbn-ab{% endif %}">
                <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>

                <div class="dwbn-form-control">
                    {{ field }}{% if field.help_text or field.errors %}<span class="help-block">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</span>{% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="form-group hidden">
            <div class="dwbn-form-submit">
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </div>
        </div>
    </form>

{% endblock right_content %}
