{% extends "base_form.html" %}
{% load i18n static %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block left_content %}{% include 'include/_navigation.html' with active_navigation="profile" %}{% endblock left_content %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'User profile' %}</li>
</ol> 
{% endblock breadcrumb %}


{% block form %}
<form class="form-horizontal" method="post">{% csrf_token %}	
    <div class="">
	    <h3>{% trans 'Delete Profile' %}</h3>
		<p>{% trans "Do you want to delete your account?" %}</p>
		
	    {% if messages %}{% for message in messages %}
	       <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
	    {% endif %}
		
		
	    {% if form.errors %}
	        <div class="alert alert-danger">
	        {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
	        </div>
	    {% endif %}
    </div>
    <div class="form-group">
        <div class="dwbn-form-control_lg">
	        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
            &nbsp;{% trans 'or' %}&nbsp; <a class="btn btn-default" href="{% url 'accounts:profile' %}">{% trans 'Cancel' %}</a>            
	    </div>
    </div>
	
	<script>document.getElementById("id_first_name").focus();</script>
	
</form>
{% endblock %}
