{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Password resend successful' %}{% endblock %}

{% block form %}

<h1>{% trans 'Password resend successful' %}</h1>

<p>{% trans "We've emailed you your password to the email address you submitted. You should be receiving it shortly." %}</p>

{% endblock %}
