{% extends "base_form.html" %}
{% load i18n static %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block left_content %}
    {% include 'include/_navigation.html' with active_navigation="password_change" %}{% endblock left_content %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="active">{% trans 'Password change' %}</li>
    </ol>
{% endblock breadcrumb %}

{% block form %}
    <form class="form-horizontal" method="post">{% csrf_token %}
        <h3>{% trans 'Password change' %}</h3>

        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% include "accounts/includes/password_requirements.html" %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                    {% trans "Please correct the errors below." %}{% endif %}
            </div>
        {% endif %}

        {% include 'include/_form_snippet.html' %}

        <div class="form-group">
            <div class="dwbn-form-submit">
                {% if redirect_uri %}<a class="btn btn-default" href="{{ redirect_uri }}">{% trans 'Back' %}</a>{% endif %}
                <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
            </div>
        </div>
        <script>document.getElementById("id_old_password").focus();</script>

    </form>
{% endblock %}
