{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block form %}

{% if validlink %}
	<form class="form-horizontal"  method="post">{% csrf_token %}
	    <h3>{% trans 'Enter new password' %}</h3>
	
	    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
	    {% include "accounts/includes/password_requirements.html" %}
	    
	    {% if form.errors %}
	        <div class="alert alert-danger">
	        {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
	        </div>
	    {% endif %}
	
	    {% include 'include/_form_snippet.html' %}

	     <div class="form-group">
	         <div class="dwbn-form-submit">
	             <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
	         </div>
	     </div>
	</form>	
{% else %}
	<h1>{% trans 'Password reset unsuccessful' %}</h1>
	<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
	{% url 'accounts:password_reset' as password_reset_url %}
	{% if password_reset_url %}
		<div class="password-reset-link">
		  <a href="{{ password_reset_url }}">{% trans 'Forgotten your password?' %}</a>
		</div>
	{% endif %}
{% endif %}

{% endblock %}
