{% load i18n admin_urls %}
{% block object-tools-items %}
{% if user.is_superuser %}
    <li>
        <form action="{% url 'impersonate:impersonate_user' object_id %}" method="post" >
            <input hidden name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="submit" value="{% trans "Impersonate User" %}">
        </form>
    </li>
{% endif %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}
