{% load i18n static %}
<div class="panel panel-{% if default_device.u2fdevice %}primary{% else %}default{% endif %}">
    <div class="panel-heading">{% trans 'Login with your U2F Device' %}</div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left media-middle"><img class="media-object" src="{% static 'img/u2f_yubikey.png' %}" alt="{{ device }}"></div>
            <div class="media-body">
                <table class="table table-responsive">
                    {% for device in u2fdevice_set %}
                        <tr>
                            <td>
                                app_id: {{ device.app_id }}
                                {% if device.confirmed and device.device_ptr == default_device %}
                                    <span class="label label-primary">default</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if device.confirmed %}
                                    {% if device.device_ptr != default_device %}
                                        <button class="btn btn-default" type="submit" name="default" value="{{ device.device_ptr.id }}">{% trans 'Set as default' %}</button>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-success btn" href="{% url 'auth:phone_setup' device.device_ptr.id %}">{% trans 'Confirm' %}</a>
                                {% endif %}
                                <button class="btn btn-danger btn" type="submit" name="delete" value="{{ device.device_ptr.id }}">{% trans 'Delete' %}</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer"><a class="btn btn-default" href="{% url 'auth:u2f_add_device' %}">Add U2F Device</a></div>
</div>
