{% load static %}
<script src="{% static 'js/vendor/bowser.min.js' %}"></script>
<script src="{% static "js/vendor/u2f-api-1.1.js" %}"></script>
<script src="{% static "js/u2f-1.0.1.js" %}"></script>
