{% load i18n %}
<div class="alert alert-info">{% trans "Your password must fulfill the following requirements:" %}
    <ol>
        {% for password_validators_help_text in password_validators_help_texts %}
            <li>{{ password_validators_help_text }}</li>
        {% endfor %}
    </ol>
</div>
